@{
    ViewBag.Title = "PhieuNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="PhieuNhapApp" ng-controller="PhieuNhapController">

    <div ng-show="!OtherMode">

        @*<<<<<<<phần tìm kiếm thông tin*@
        <div class="mb-3">
            <!-- Hàng chứa tiêu đề và các nút -->
            <div class="container-fluid bg-light">
                <!-- Cột chứa tiêu đề -->
                <div class="navbar-header ">
                    @* MP_NOTE sửa tiêu đề danh mục *@
                    <p class="text-secondary" style="margin-top: 20px;  " ng-click="ExpandSearch()">Quản lý phiếu nhập kho</p>
                </div>

                <!-- Cột chứa các nút -->
                <div class="nav navbar-nav navbar-right" style="margin: 10px;">
                    <div class="action-icons">
                        <!-- Refresh -->
                        <button class="btn text-info" ng-click="Refresh()" title="Làm mới">
                            <i class="fa fa-refresh fa-lg"></i>
                        </button>
                        <!-- Post -->
                        <button type="button" class="btn text-info" title="Thêm" ng-click="showAddModal()">
                            <i class="fas fa-plus"></i>
                        </button>
                        <!-- Put -->
                        <button class="btn text-info" title="Sửa" ng-click="Edit()">
                            <i class="fa fa-pencil-square fa-lg"></i>
                        </button>
                        <!-- Delete -->
                        <button class="btn" style="color:red;" title="Xóa" ng-click="DELETE_All_checked()">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                        @* MP_NOTE  *@

                        <button class="btn btn-sm btn-outline-info" ng-show="role==0" title="Lịch sử chỉnh sửa" ng-click="ShowLichSu(new_item)">
                            <i class="fa fa-history"></i>
                        </button>
                    </div>
                </div>
            </div>
            @* Model tìm kiếm *@
            <div ng-model="search">
                @* Phần layout xử lý tìm kiếm *@
                <div class="container-fluid search-div" style="height: 48px;">
                    <div class="row">
                        <div class="col-xs-12 full-width">
                            <div class="input-group" style="height: 100%;">
                                @* Model search.keyword *@
                                <input ng-model="search.keyword" type="text" class="form-control input-field" style="border:none; height: 100%;" ng-keydown="handleKeydown($event)" placeholder=" Nhập thông tin tìm kiếm...">
                                <span class="input-group-btn">

                                    <button class="btn btn-dark text-white" title="Mở rộng" style="background-color: lightgray; width: 46px; height: 46px;" ng-show="!isExpandSearch" ng-click="ExpandSearch()">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </button>


                                    <button class="btn btn-dark text-white" title="Thu gọn" style="background-color: lightgray; width: 46px; height: 46px;" ng-show="isExpandSearch" ng-click="ExpandSearch()">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </button>

                                    <button class="btn btn-info text-white" title="Tìm kiếm" style="background-color: #136b93; width: 46px; height: 46px;" ng-click="SEARCH(isExpandSearch)">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @* MP_NOTE Phần layout tìm kiếm mở rộng*@
                @* ///////////////////////////////////// *@

                <div class="container-fluid search-div-expand row" style="margin-top : 10px;" ng-show="isExpandSearch">
                    <div class="col-md-3 mb-2">
                        <div class="d-flex align-items-center">
                            <label class="me-2" style="min-width: 80px; font-weight: normal;">Số chứng từ</label>
                            <input type="text" class="form-control" ng-model="search.so_ct">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="d-flex align-items-center">
                            <label class="me-2" style="min-width: 80px; font-weight: normal;">Mã NCC</label>
                            <input type="text" class="form-control" ng-model="search.ma_ncc">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="d-flex align-items-center">
                            <label class="me-2" style="min-width: 80px; font-weight: normal;">Từ ngày</label>
                            <input type="date" class="form-control" ng-model="search.tu_ngay">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="d-flex align-items-center">
                            <label class="me-2" style="min-width: 80px; font-weight: normal;">Đến ngày</label>
                            <input type="date" class="form-control" ng-model="search.den_ngay">
                        </div>
                    </div>
                </div>



            </div>
        </div>
        @*>>>>>>>>>phần tìm kiếm thông tin*@
        <hr />

        @*<<<<<<<<<<<<Phần xử lý hiển thị danh sách thông tin chính của các phiếu*@
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th style="width: 50px;" class="text-center align-middle">STT</th>
                        <th style="width: 50px;" class="text-center align-middle"><input type="checkbox" ng-model="clickallcheckbox" ng-click="clickall()" /></th>
                        <th style="width: 50px;" class="text-center align-middle">Sửa</th>
                        <th style="width: 50px;" class="text-center align-middle">Xóa</th>

                        <th class="text-center align-middle">Số CT</th>
                        <th class="text-center align-middle">Mã NCC</th>
                        <th class="text-center align-middle">Tên NCC</th>
                        <th class="text-center align-middle">Ngày CT</th>
                        <th class="text-center align-middle">Diễn Giải</th>
                        <th class="text-center align-middle">Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ds_main | filter:searchText" ng-class="{'selected-row': item.checked}" ng-dblclick="Detail(item)">
                        <td class="text-center align-middle" ng-bind="$index+1"></td>
                        <td class="text-center align-middle"><input type="checkbox" ng-model="item.checked" ng-click="click(item)" /></td>
                        <td class="text-center align-middle" ng-click="Edit(item)"><i class="fas fa-edit"></i></td>
                        <td class="text-center align-middle" ng-click="DELETE(item)"><i class="fas fa-trash-alt text-danger"></i></td>
                        <td class="text-center align-middle">{{ item.so_ct }}</td>
                        <td class="text-center align-middle">{{ item.ma_ncc }}</td>
                        <td class="text-center align-middle">{{ item.ten_ncc }}</td>
                        <td class="text-center align-middle">{{ item.ngay_ct | date:'dd/MM/yyyy' }}</td>
                        <td class="text-center align-middle">{{ item.dien_giai }}</td>
                        <td class="text-center align-middle">
                            <span ng-if="item.TrangThai == 1" class="text-success">Đã duyệt</span>
                            <span ng-if="item.TrangThai != 1" class="text-warning">Chưa duyệt</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*>>>>>>>>>>>>>>Phần xử lý hiển thị danh sách thông tin chính của các phiếu*@

    </div>

    <div class="modal" ng-show="isHistoryModalOpen">
        <div class="modal-dialog modal-lg" style="width:110%; margin: 10px;">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Lịch sử thay đổi: {{ new_item.so_ct }}</h5>
                    <button type="button" class="close" ng-click="isHistoryModalOpen = false">&times;</button>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                    <div ng-repeat="log in historyLogs">
                        <div class="border p-2 mb-3">
                            <strong>Thao tác:</strong> {{ log.operation }} |
                            <strong>Người thay đổi:</strong>{{log.changed_by}} -  {{ log.username || 'Chưa rõ' }} |
                            <strong>Thời gian:</strong> {{ log.changed_at | date:'yyyy-MM-dd HH:mm:ss' }}

                            <table class="table table-bordered table-sm mt-2">
                                <thead>
                                    <tr>
                                        <th>Trường</th>
                                        <th>Giá trị cũ</th>
                                        <th>Giá trị mới</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="(key, newVal) in (log.operation === 'DELETE' ? parseJson(log.old_data) : parseJson(log.new_data))">
                                        <td>{{ key }}</td>
                                        <td ng-class="getDiffClass(parseJson(log.old_data)[key], newVal)">
                                            {{ parseJson(log.old_data)[key] || '—' }}
                                        </td>
                                        <td ng-class="getDiffClass(parseJson(log.old_data)[key], newVal)">
                                            {{ log.operation === 'DELETE' ? '—' : (newVal || '—') }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" ng-click="isHistoryModalOpen = false">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    @* Giao diện thêm sửa <<<< *@
    <!-- Modal Xác Nhận -->
    <div class="modal" ng-show="isConfirmModalOpen">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeConfirmModal()">&times;</button>
                    <h4 class="modal-title">Xác Nhận</h4>
                </div>
                <div class="modal-body">
                    <p>{{ confirmMessage }}</p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="closeConfirmModal()">Hủy</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmAction()">Đồng Ý</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="OtherMode">
        @*<<<<<<<phần tìm kiếm thông tin*@
        <div class="mb-3">
            <!-- Hàng chứa tiêu đề và các nút -->
            <div class="container-fluid bg-light">
                <!-- Cột chứa tiêu đề -->
                <div class="navbar-header ">
                    @* MP_NOTE sửa tiêu đề danh mục *@
                    <p class="text-secondary" style="margin-top: 20px;  " ng-click="ExpandSearch()" ng-show="OtherMode">Phiếu Nhập Kho</p>

                </div>
               
                <!-- Cột chứa các nút -->
                <div class="nav navbar-nav navbar-right" style="margin: 5px;">
                    <div class="action-icons">
                        <!-- Put -->
                        <button class="btn text-info" ng-click="Edit()" ng-show="!edit_mode && !add_mode" title="Sửa">
                            <i class="fa fa-pencil-square fa-lg"></i>
                        </button>
                        @* Lưu dữ liệu *@
                        <button class="btn text-info" ng-click="Save() " ng-show="edit_mode||add_mode" title="Lưu">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>


                        @* Duyệt trạng thái phiếu *@
                        <!-- Duyệt phiếu -->
                        <button class="btn text-success" ng-click="ChangeInfo('Duyet',new_item)"
                                title="Duyệt phiếu"
                                ng-show="role==0&& (new_item.trang_thai== '0')">

                            <i class="fa-solid fa-circle-check"></i>
                        </button>

                        <!-- Đã hoàn thành -->
                        <button class="btn text-secondary"
                                ng-show="role==0&& (new_item.trang_thai== '1')" ng-click="ChangeInfo('HoanThanh',new_item)"
                                title="Phiếu đã hoàn thành">
                            <i class="fa-solid fa-check-double"></i>
                        </button>

                        <!-- Hủy phiếu -->
                        <button class="btn text-danger"
                                ng-click="ChangeInfo('Huy',new_item)"
                                ng-show="role==0&& (new_item.trang_thai== '0' ||new_item.trang_thai== '1')"
                                title="Hủy phiếu">
                            <i class="fa-solid fa-ban"></i>
                        </button>
                        @* Duyệt trạng thái phiếu *@
                        <button class="btn text-info" ng-click="PrintPhieuNhap( new_item.so_ct)" title="Xuất mẫu in" ng-show="!edit_mode && !add_mode">
                            <i class="fa-solid fa-print"></i>
                        </button>
                        @* MP_NOTE  *@
                        @* Hủy sự thay đổi này *@
                        <button class="btn text-info" style="color:red;" ng-click="CloseOtherMode()" title="Đóng">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-info" ng-show="role==0" title="Lịch sử chỉnh sửa" ng-click="ShowLichSuCT(new_item)">
                            <i class="fa fa-history"></i>
                        </button>
                    </div>
                </div>
                <div class="container mt-3" ng-show="OtherMode">
                    <div class="container-fluid search-div-expand row" style="margin-top : 10px;" ng-model="new_item">
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Số chứng từ</label>
                                <input type="text" class="form-control" ng-model="new_item.so_ct" disabled>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Ngày chứng từ</label>
                                <input type="date" class="form-control" ng-model="new_item.ngay_ct" disabled />
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Nhà cung cấp</label>
                                <select class="form-control" ng-model="new_item.ma_ncc" ng-click="getMaSoThueByMaNCC(new_item.ma_ncc)" ng-disabled="!edit_mode && !add_mode">
                                    <option ng-repeat="item in ds_dmncc" ng-value="item.ma_ncc">
                                        {{item.ma_ncc}} - {{item.ten_ncc}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="d-flex align-items-start">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Mã số thuế</label>
                                <input type="text" class="form-control" ng-model="new_item.ma_so_thue" rows="3" ng-disabled="!edit_mode && !add_mode">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="d-flex align-items-start">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Diễn giải</label>
                                <textarea class="form-control" ng-model="new_item.dien_giai" rows="3" ng-disabled="!edit_mode && !add_mode"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="d-flex align-items-start">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Biển số xe</label>
                                <input type="text" class="form-control" ng-model="new_item.bien_so_xe" rows="3" ng-disabled="!edit_mode && !add_mode">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Ngày vận chuyển</label>
                                <input type="date" class="form-control" ng-model="new_item.ngay_van_chuyen" ng-disabled="!edit_mode && !add_mode" />
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Thông tin thanh toán</label>
                                <select class="form-control" ng-model="new_item.tt_thanhtoan" ng-disabled="!edit_mode && !add_mode">
                                    <option ng-repeat="item in ds_tt_thanh_toan" ng-value="item.ma">
                                        {{item.ma}} - {{item.ten}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Chiết khấu</label>
                                <select class="form-control" ng-model="new_item.chietkhau" ng-change="UpdateTotal()" ng-disabled="!edit_mode && !add_mode">
                                    <option ng-repeat="item in ds_chiet_khau" ng-value="item.ma">
                                        {{item.ma}} - {{item.ten}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Thuế</label>
                                <select class="form-control" ng-model="new_item.thue" ng-change="UpdateTotal()" ng-disabled="!edit_mode && !add_mode">
                                    <option ng-repeat="item in ds_thue" ng-value="item.ma">
                                        {{item.ma}} - {{item.ten}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="me-2" style="min-width: 100px; font-weight: normal;">Trạng thái</label>
                                <select class="form-control" ng-model="new_item.trang_thai" disabled>
                                    <option ng-repeat="item in ds_trangthai" ng-value="item.ma_trangthai">
                                        {{item.ma_trangthai}} - {{item.ten_trangthai}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*>>>>>>>>>phần tìm kiếm thông tin*@
        <hr />


        @*<<<<<<<<<<<<<<<<<<<<<<<<< PHẦN XỬ LÝ GIAO DIỆN GRID CHI TIẾT*@

        @* MP_NOTE sửa tiêu đề danh mục *@
        <p class="text-secondary" style="margin-top: 20px;  " ng-click="ExpandSearch()">Thông tin chi tiết phiếu nhập kho</p>

        <div class="table-responsive">


            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        @* Button thực hiện thêm mới *@
                        <th style="width: 50px;" class="text-center align-middle"> STT</th>


                        <th style="width: 50px;" class="text-center align-middle">Sửa</th>
                        <th style="width: 50px;" class="text-center align-middle">Xóa</th>
                        <th style="width: 200px;" class="text-center align-middle">Mã vật tư <span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Mã ĐVT<span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Mã kho<span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Số lượng nhập<span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Đơn giá<span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Thành tiền<span style="color: red;">*</span></th>
                        <th style="width: 200px;" class="text-center align-middle">Ghi chú<span style="color: red;">*</span></th>
                    </tr>
                </thead>
                <tbody>
                    @*<<<<<<<<<<< Xử lý thêm sửa dòng grid chi tiết*@
                    <tr ng-show="edit_mode||add_mode">


                        <td class="text-center align-middle">
                        </td>
                        <td class="text-center align-middle">
                            <i class="fa-solid fa-floppy-disk text-info glyphicon-bold" ng-click="Save_current_item()" title="Lưu"></i>

                        </td>
                        <td class="text-center align-middle" ng-click="clearContent()">

                            <i class="fa-solid fa-xmark" title="Đóng"></i>
                        </td>
                        <td class="text-center align-middle">
                            <select class="form-control" ng-model="current_item.ma_vt" ng-click="GetDVTByMaVt(current_item.ma_vt)" ng-disabled="!edit_mode && !add_mode">
                                <option ng-repeat="item in ds_dmvt" ng-value="item.ma_vt">
                                    {{item.ma_vt}} - {{item.ten_vt}}
                                </option>
                            </select>
                        </td>
                        <td class="text-center align-middle">
                            <select class="form-control" ng-model="current_item.ma_dvt" ng-click="GetDVTByMaVt(current_item.ma_vt)" ng-disabled="!edit_mode && !add_mode">
                                <option ng-repeat="item in ds_dmdvt" ng-value="item.ma_dvt">
                                    {{item.ma_dvt}} - {{item.ten_dvt}}
                                </option>
                            </select>
                        </td>
                        <td class="text-center align-middle">
                            <select class="form-control" ng-model="current_item.ma_kho" ng-disabled="!edit_mode && !add_mode">
                                <option ng-repeat="item in ds_dmkho" ng-value="item.ma_kho">
                                    {{item.ma_kho}} - {{item.ten_kho}}
                                </option>
                            </select>
                        </td>

                        <td class="text-center align-middle"> <input type="number" class="form-control" ng-model="current_item.so_luong_nhap" ng-change="change_value_nhap()" ng-disabled="!edit_mode && !add_mode"></td>
                        <td class="text-center align-middle"> <input type="number" class="form-control" ng-model="current_item.don_gia_nhap" ng-change="change_value_nhap()" ng-disabled="!edit_mode && !add_mode"></td>
                        <td class="text-center align-middle"> <input type="number" class="form-control" ng-model="current_item.thanh_tien" disabled></td>
                        <td class="text-center align-middle"> <input type="text" class="form-control" ng-model="current_item.ghi_chu" ng-disabled="!edit_mode && !add_mode"></td>


                    </tr>

                    @*>>>>>>>>>> Xử lý thêm sửa dòng grid chi tiết*@
                    <tr ng-repeat="item in ds_ct_phieu | filter:searchText" ng-class="{'selected-row': item.checked}">
                        <td class="text-center align-middle" ng-bind="$index+1"></td>
                        <td class="text-center align-middle" ng-click="Edit_current_item(item)"><i class="fas fa-edit"></i></td>
                        <td class="text-center align-middle" ng-click="DELETE_current_item(item)"><i class="fas fa-trash-alt text-danger"></i></td>
                        <td class="text-center align-middle">{{ item.ma_vt }}</td>
                        <td class="text-center align-middle">{{ item.ma_dvt }}</td>
                        <td class="text-center align-middle">{{ item.ma_kho }}</td>
                        <td class="text-center align-middle">{{ item.so_luong_nhap }}</td>
                        <td class="text-center align-middle">{{ item.don_gia_nhap | number:2}}</td>
                        <td class="text-center align-middle">{{ item.don_gia_nhap*item.so_luong_nhap| number:2 }}</td>
                        <td class="text-center align-middle">{{ item.ghi_chu }}</td>



                    </tr>
                    @*  Dòng tổng cộng dưới grid chi tiết *@
                    <tr class="bg-light font-weight-bold">
                        <td colspan="6" class="text-right align-middle text-primary">
                            <strong>Tổng cộng:</strong>
                        </td>
                        <td class="text-center align-middle text-danger">
                            <strong>{{ sum.so_luong | number:2 }}</strong>
                        </td>
                        <td class="text-center align-middle">
                            <!-- Để trống ô đơn giá tổng, không áp dụng -->
                        </td>
                        <td class="text-center align-middle text-danger">
                            <strong>{{ sum.thanh_tien | number:2 }}</strong>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="bg-light font-weight-bold">
                        <td colspan="9" class="text-right align-middle text-primary">
                            <strong>Tổng chiết khấu:</strong>
                        </td>
                        <td class="text-center align-middle text-danger">
                            <strong>{{ sum.chiet_khau | number:2 }}</strong>
                        </td>
                    </tr>
                    <tr class="bg-light font-weight-bold">
                        <td colspan="9" class="text-right align-middle text-primary">
                            <strong>Tổng thuế:</strong>
                        </td>
                        <td class="text-center align-middle text-danger">
                            <strong>{{ sum.thue | number:2 }}</strong>
                        </td>
                    </tr>
                    <tr class="bg-light font-weight-bold">
                        <td colspan="9" class="text-right align-middle text-primary">
                            <strong>Tổng thanh toán:</strong>
                        </td>
                        <td class="text-center align-middle text-danger">
                            <strong>{{ sum.tong_thanh_toan | number:2 }}</strong>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>



        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PHẦN XỬ LÝ GIAO DIỆN GRID CHI TIẾT*@
    </div>


    @* Giao diện thêm sửa >>>> *@
</div>
 
<style>
    /* Cấu hình cơ bản cho Modal */
    .modal {
        display: block !important; /* Đảm bảo modal luôn hiển thị */
        position: fixed !important; /* Cố định modal trên màn hình */
        top: 0 !important; /* Đặt modal ở vị trí trên cùng */
        left: 0 !important; /* Đặt modal ở vị trí bên trái */
        width: 100% !important; /* Chiếm toàn bộ chiều rộng màn hình */
        height: 100% !important; /* Chiếm toàn bộ chiều cao màn hình */
        background-color: rgba(0, 0, 0, 0.5) !important; /* Nền tối mờ */
        z-index: 9999 !important; /* Đảm bảo modal hiển thị lên trên các phần tử khác */
        overflow: hidden; /* Ngăn cuộn khi modal mở */
    }

    /* Cấu hình phần Dialog (khung của modal) */
    .modal-dialog {
        margin: 100px auto; /* Căn giữa modal theo chiều dọc và ngang */
        width: 400px; /* Chiều rộng của modal */
        position: relative; /* Đảm bảo phần tử dialog được đặt cố định */
    }

    /* Cấu hình phần nội dung modal */
    .modal-content {
        background-color: white; /* Nền trắng cho nội dung modal */
        padding: 20px; /* Padding để tạo không gian trong nội dung */
        border-radius: 4px; /* Viền bo tròn cho các góc */
        position: relative; /* Đảm bảo phần tử content không bị trôi */
    }

    /* Cấu hình phần đầu của modal */
    .modal-header {
        border-bottom: 1px solid #ddd; /* Viền dưới cho phần header */
        font-size: 18px; /* Cỡ chữ cho tiêu đề */
        padding-bottom: 10px; /* Padding dưới để tạo không gian */
    }

    /* Cấu hình phần footer của modal */
    .modal-footer {
        text-align: right; /* Căn phải cho các nút trong footer */
    }

    /* Nút đóng trong modal */
    .close {
        font-size: 30px; /* Cỡ chữ của dấu "x" đóng modal */
        font-weight: bold;
        color: #aaa; /* Màu sắc cho nút đóng */
        cursor: pointer; /* Con trỏ chuột khi hover */
    }

        .close:hover, .close:focus {
            color: black; /* Màu sắc khi hover vào nút đóng */
            text-decoration: none;
            cursor: pointer;
        }

    /* Cấu hình cho background mờ */
    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu mờ đen */
        z-index: 9998; /* Đảm bảo lớp này nằm dưới modal */
    }

    /* Khi modal mở, cho phép các phần tử bên ngoài modal không thể tương tác */
    .modal-content {
        pointer-events: all; /* Cho phép các sự kiện xảy ra trong modal */
    }



    .modal {
        animation: fadeIn 0.3s ease-out; /* Thêm hiệu ứng fade-in */
    }

    /* Đảm bảo các phần tử bên trong modal có thể tương tác được */
    .modal-dialog {
        pointer-events: all;
    }

   /*Modal thêm mới*/

</style>

