@{
    ViewBag.Title = "BCTonKho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="BCTonKhoApp" ng-controller="BCTonKhoController">

    <div ng-show="!OtherMode">

        @*<<<<<<<phần tìm kiếm thông tin*@
        <div class="mb-3">
            <!-- Hàng chứa tiêu đề và các nút -->
            <div class="container-fluid bg-light">
                <!-- Cột chứa tiêu đề -->
                <div class="navbar-header ">
                    @* MP_NOTE sửa tiêu đề danh mục *@
                    <p class="text-secondary" style="margin-top: 20px;  " ng-click="ExpandSearch()">Báo cáo tồn theo kho</p>
                </div>

                <!-- Cột chứa các nút -->
                <div class="nav navbar-nav navbar-right" style="margin: 10px;">
                    <div class="action-icons">
                        <!-- Refresh -->
                        <button class="btn text-info" ng-click="Refresh()">
                            <i class="fa fa-refresh fa-lg"></i>
                        </button>

                        @* MP_NOTE  *@
                        <button class="btn text-info" ng-click="export()">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        </button>



                    </div>
                </div>
            </div>
            @* Model tìm kiếm *@
            <div ng-model="search">
                @* Phần layout xử lý tìm kiếm *@
                <div class="container-fluid search-div" style="height: 48px;">
                    <div class="row">
                        <div class="col-xs-12 full-width">
                            <div class="input-group" style="height: 100%;">
                                @* Model search.keyword *@
                                <input ng-model="search.keyword" type="text" class="form-control input-field" style="border:none; height: 100%;" ng-keydown="handleKeydown($event)" placeholder=" Nhập thông tin tìm kiếm...">
                                <span class="input-group-btn">

                                    <button class="btn btn-dark text-white" style="background-color: lightgray; width: 46px; height: 46px;" ng-show="!isExpandSearch" ng-click="ExpandSearch()">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </button>


                                    <button class="btn btn-dark text-white" style="background-color: lightgray; width: 46px; height: 46px;" ng-show="isExpandSearch" ng-click="ExpandSearch()">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </button>

                                    <button class="btn btn-info text-white" style="background-color: #136b93; width: 46px; height: 46px;" ng-click="SEARCH(isExpandSearch)">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @* MP_NOTE Phần layout tìm kiếm mở rộng*@
                @* ///////////////////////////////////// *@

            <div class="container-fluid search-div-expand row" style="margin-top : 10px;" ng-show="isExpandSearch">


                <!-- Button để mở Modal chọn vật tư -->

                <div style="display: flex; align-items: center; gap: 10px;">
                    <label style="min-width: 80px; font-weight: normal; white-space: nowrap;">Vật tư</label>
                    <input type="text" ng-model="search.ma_vt_list" disabled
                           style="flex-grow: 1; max-width: 500px; padding: 5px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
                    <button ng-click="openSelectVTModal()"
                            style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; background-color: #f8f9fa; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <!-- Modal chọn vật tư (Được mở rộng kích thước) -->
                <div class="modal custom3_modal" ng-show="isSelectVTModalOpen">
                    <div class="modal-dialog custom3_modal_dialog">
                        <div class="modal-content custom3_modal_content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeSelectVTModal()">&times;</button>
                                <h4 class="modal-title">Chọn Vật Tư</h4>
                            </div>
                            <div class="modal-body custom3_modal_body">
                                <!-- Form tìm kiếm -->
                                <div class="mb-3">
                                    <input type="text" ng-model="searchKeyword" class="form-control" placeholder="Tìm kiếm theo mã hoặc tên vật tư..." />
                                </div>

                                <!-- Bảng hiển thị vật tư -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle" style="width: 50px;">
                                                    <input type="checkbox" ng-model="selectAll" ng-click="toggleSelectAll()">
                                                </th>
                                                <th class="text-center align-middle">Mã vật tư</th>
                                                <th class="text-center align-middle">Tên vật tư</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="vt in ds_ma_vt | filter:searchKeyword" ng-click="tich(vt)">
                                                <td class="text-center align-middle">
                                                    <input type="checkbox" ng-model="vt.selected">
                                                </td>
                                                <td class="text-center align-middle">{{ vt.ma_vt }}</td>
                                                <td class="text-center align-middle">{{ vt.ten_vt }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" ng-click="closeSelectVTModal()">Đóng</button>
                                <button type="button" class="btn btn-primary" ng-click="confirmSelection()">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>



                @*  MODAL hiển thị lookup *@
                <div style="display: flex; align-items: center; gap: 10px;">
                    <label style="min-width: 80px; font-weight: normal; white-space: nowrap;">Kho</label>
                    <input type="text" ng-model="search.ma_kho_list" disabled
                           style="flex-grow: 1; max-width: 500px; padding: 5px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
                    <button ng-click="openSelectKhoModal()"
                            style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; background-color: #f8f9fa; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>




                <!-- Modal chọn vật tư (Được mở rộng kích thước) -->
                <div class="modal custom3_modal" ng-show="isSelectKhoModalOpen">
                    <div class="modal-dialog custom3_modal_dialog">
                        <div class="modal-content custom3_modal_content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeSelectKhoModal()">&times;</button>
                                <h4 class="modal-title">Chọn kho</h4>
                            </div>
                            <div class="modal-body custom3_modal_body">
                                <!-- Form tìm kiếm -->
                                <div class="mb-3">
                                    <input type="text" ng-model="searchKeyword_kho" class="form-control" placeholder="Tìm kiếm theo mã kho hoặc tên kho..." />
                                </div>

                                <!-- Bảng hiển thị vật tư -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle" style="width: 50px;">
                                                    <input type="checkbox" ng-model="selectAll_kho" ng-click="toggleSelectAll_kho()">
                                                </th>
                                                <th class="text-center align-middle">Mã kho</th>
                                                <th class="text-center align-middle">Tên kho</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="kho in ds_ma_kho | filter:searchKeyword_kho" ng-click="tich(kho)">
                                                <td class="text-center align-middle">
                                                    <input type="checkbox" ng-model="kho.selected">
                                                </td>
                                                <td class="text-center align-middle">{{ kho.ma_kho }}</td>
                                                <td class="text-center align-middle">{{ kho.ten_kho }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" ng-click="closeSelectKhoModal()">Đóng</button>
                                <button type="button" class="btn btn-primary" ng-click="confirmSelection_kho()">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



            </div>
        </div>
        @*>>>>>>>>>phần tìm kiếm thông tin*@
        <hr />

        @*<<<<<<<<<<<<Phần xử lý hiển thị danh sách thông tin chính của các phiếu*@
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th style="width: 50px;" class="text-center align-middle">STT</th>
                        <th style="width: 200px;" class="text-center align-middle">Mã kho</th>
                        <th style="width: 300px;" class="text-center align-middle">Tên kho</th>
                        <th style="width: 300px;" class="text-center align-middle">Mô tả kho</th>
                        <th style="width: 300px;" class="text-center align-middle">Địa chỉ</th>
                        <th style="width: 150px;" class="text-center align-middle">Mã VT</th>
                        <th style="width: 200px;" class="text-center align-middle">Tên VT</th>
                        <th style="width: 100px;" class="text-center align-middle">Rộng</th>
                        <th style="width: 100px;" class="text-center align-middle">Cao</th>
                        <th style="width: 100px;" class="text-center align-middle">Khối lượng</th>
                        <th style="width: 200px;" class="text-center align-middle">Màu sắc</th>
                        <th style="width: 200px;" class="text-center align-middle">Kiểu dáng</th>
                        <th style="width: 100px;" class="text-center align-middle">Mã ĐVT</th>
                        <th style="width: 140px;" class="text-center align-middle">Tên ĐVT</th>
                        <th style="width: 300px;" class="text-center align-middle">Mô tả ĐVT</th>
                        <th style="width:100px;" class="text-center align-middle">Tỷ lệ quy đổi</th>
                        <th style="width: 100px;" class="text-center align-middle">Số lượng tồn</th>
                        <th style="width: 150px;" class="text-center align-middle">Ngày cập nhật</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ds_main | filter:searchText"
                        ng-class="{
                    'sys-order-0': item.sys_order == 0,
                    'sys-order-1': item.sys_order == 1,
                    'sys-order-2': item.sys_order == 2,
                    'sys-order-3': item.sys_order == 3,
                    'selected-row': item.checked
                   }" ng-dblclick="Detail(item)">
                        <td class="text-center align-middle">{{ item.stt }}</td>
                        <td class="text-center align-middle">{{ item.ma_kho }}</td>
                        <td class="text-center align-middle">{{ item.ten_kho }}</td>
                        <td class="text-center align-middle">{{ item.mo_ta_kho }}</td>
                        <td class="text-center align-middle">{{ item.dia_chi_kho }}</td>
                        <td class="text-center align-middle">{{ item.ma_vt }}</td>
                        <td class="text-center align-middle">{{ item.ten_vt }}</td>
                        <td class="text-center align-middle">{{ item.rong }}</td>
                        <td class="text-center align-middle">{{ item.cao }}</td>
                        <td class="text-center align-middle">{{ item.khoi_luong }}</td>
                        <td class="text-center align-middle">{{ item.mau_sac }}</td>
                        <td class="text-center align-middle">{{ item.kieu_dang }}</td>
                        <td class="text-center align-middle">{{ item.ma_dvt }}</td>
                        <td class="text-center align-middle">{{ item.ten_dvt }}</td>
                        <td class="text-center align-middle">{{ item.mo_ta_dvt }}</td>
                        <td class="text-center align-middle">{{ item.ty_le_quy_doi }}</td>
                        <td class="text-center align-middle">{{ item.so_luong_ton }}</td>
                        <td class="text-center align-middle">{{ item.ngay_cap_nhat | date:'dd/MM/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*>>>>>>>>>>>>>>Phần xử lý hiển thị danh sách thông tin chính của các phiếu*@

    </div>



    @* Giao diện thêm sửa <<<< *@
    <!-- Modal Xác Nhận -->
    <div class="modal" ng-show="isConfirmModalOpen">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeConfirmModal()">&times;</button>
                    <h4 class="modal-title">Xác Nhận</h4>
                </div>
                <div class="modal-body">
                    <p>{{ confirmMessage }}</p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="closeConfirmModal()">Hủy</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmAction()">Đồng Ý</button>
                </div>
            </div>
        </div>
    </div>



    @* Giao diện thêm sửa >>>> *@
</div>

<style>
    /* Cấu hình cơ bản cho Modal */
    .modal {
        display: block !important; /* Đảm bảo modal luôn hiển thị */
        position: fixed !important; /* Cố định modal trên màn hình */
        top: 0 !important; /* Đặt modal ở vị trí trên cùng */
        left: 0 !important; /* Đặt modal ở vị trí bên trái */
        width: 100% !important; /* Chiếm toàn bộ chiều rộng màn hình */
        height: 100% !important; /* Chiếm toàn bộ chiều cao màn hình */
        background-color: rgba(0, 0, 0, 0.5) !important; /* Nền tối mờ */
        z-index: 9999 !important; /* Đảm bảo modal hiển thị lên trên các phần tử khác */
        overflow: hidden; /* Ngăn cuộn khi modal mở */
    }

    /* Cấu hình phần Dialog (khung của modal) */
    .modal-dialog {
        margin: 100px auto; /* Căn giữa modal theo chiều dọc và ngang */
        width: 400px; /* Chiều rộng của modal */
        position: relative; /* Đảm bảo phần tử dialog được đặt cố định */
    }

    /* Cấu hình phần nội dung modal */
    .modal-content {
        background-color: white; /* Nền trắng cho nội dung modal */
        padding: 20px; /* Padding để tạo không gian trong nội dung */
        border-radius: 4px; /* Viền bo tròn cho các góc */
        position: relative; /* Đảm bảo phần tử content không bị trôi */
    }

    /* Cấu hình phần đầu của modal */
    .modal-header {
        border-bottom: 1px solid #ddd; /* Viền dưới cho phần header */
        font-size: 18px; /* Cỡ chữ cho tiêu đề */
        padding-bottom: 10px; /* Padding dưới để tạo không gian */
    }

    /* Cấu hình phần footer của modal */
    .modal-footer {
        text-align: right; /* Căn phải cho các nút trong footer */
    }

    /* Nút đóng trong modal */
    .close {
        font-size: 30px; /* Cỡ chữ của dấu "x" đóng modal */
        font-weight: bold;
        color: #aaa; /* Màu sắc cho nút đóng */
        cursor: pointer; /* Con trỏ chuột khi hover */
    }

        .close:hover, .close:focus {
            color: black; /* Màu sắc khi hover vào nút đóng */
            text-decoration: none;
            cursor: pointer;
        }

    /* Cấu hình cho background mờ */
    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu mờ đen */
        z-index: 9998; /* Đảm bảo lớp này nằm dưới modal */
    }

    /* Khi modal mở, cho phép các phần tử bên ngoài modal không thể tương tác */
    .modal-content {
        pointer-events: all; /* Cho phép các sự kiện xảy ra trong modal */
    }



    .modal {
        animation: fadeIn 0.3s ease-out; /* Thêm hiệu ứng fade-in */
    }

    /* Đảm bảo các phần tử bên trong modal có thể tương tác được */
    .modal-dialog {
        pointer-events: all;
    }

    /*Modal thêm mới*/

</style>

